#Contact {
    background-image: url(../assets/Image/Background_Contacts.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
}
